body {
  color: #2e2f42;
  padding: 36px 929px 316px 156px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  letter-spacing: 0.64px;
  letter-spacing: 1.6px;
}
